.container {
  background: linear-gradient(180deg, #355359 0%, #3b5d63 100%);
  margin: 0 auto;
  margin-top: 30px;
  border-radius: 16px;
  padding: 32px 27px;
  width: 1000px;
  min-height: 585px;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.headerRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 16px;
}

.cell {
  width: 225px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #fcfcfc;

  display: flex;
  flex-direction: column;
}

.cell_first {
  padding-left: 4px;
}

.users__table {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.users__table > .table__item:nth-child(2n) {
  background: linear-gradient(180deg, #294045 0%, #1e2f33 100%);
  border-radius: 16px;
}

.span {
  margin-bottom: 8px;
}

.input {
  border: 1px solid black;
  border-radius: 8px;
  padding: 10px 14px 10px 14px;
  width: 200px;
  height: 30px;
  background-color: #508f8c;

  outline: none;
  transition: border-color 0.2s ease-in-out;
}

.input::placeholder {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #081222;
}
