.user__info {
  list-style-type: none;
  display: flex;
}

.block {
  width: 225px;
  height: 48px;

  display: flex;
  align-items: center;

  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #fcfcfc;
}

.block:first-child {
  padding-left: 4px;
}
